<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVG0BoLp-_zLKUPrw53skgfNgROCUQmP8</string>
	<key>GCM_SENDER_ID</key>
	<string>815974754994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tapsecure.contacttracingprototype</string>
	<key>PROJECT_ID</key>
	<string>apptracker-c0384</string>
	<key>STORAGE_BUCKET</key>
	<string>apptracker-c0384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815974754994:ios:14d0e6d9a3bdfd6e5d77ab</string>
</dict>
</plist>